In [66]:
import pandas as pd
link= 'https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv'
data = pd.read_csv(link)
import  numpy as np

ModuleNotFoundError: No module named 'stadistics'

<h1 style="color: #00BFFF;">Challenge 1: Understanding the data<span class="tocSkip"></span></h1>

In [2]:
#Identifique las dimensiones del conjunto de datos determinando el número de filas y columnas que contiene.
data.shape

(4008, 11)

In [4]:
#Determine los tipos de datos de cada columna y evalúe si son apropiados para la naturaleza de la variable. 
#También debe proporcionar sugerencias para corregir cualquier tipo de datos incorrecto.
data.info()


"""Sugerencias de mejoras.
Se podría limpiar el archivo eliminando los NaN. Adaptar el  Customer Lifetime Value a una cifra Float """

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4008 entries, 0 to 4007
Data columns (total 11 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Customer                   1071 non-null   object
 1   ST                         1071 non-null   object
 2   GENDER                     954 non-null    object
 3   Education                  1071 non-null   object
 4   Customer Lifetime Value    1068 non-null   object
 5   Income                     1071 non-null   float64
 6   Monthly Premium Auto       1071 non-null   float64
 7   Number of Open Complaints  1071 non-null   object
 8   Policy Type                1071 non-null   object
 9   Vehicle Class              1071 non-null   object
 10  Total Claim Amount         1071 non-null   float64
dtypes: float64(3), object(8)
memory usage: 344.6+ KB

'Sugerencias de mejoras.\nSe podría limpiar el archivo eliminando los NaN. Adaptar el  Customer Lifetime Value a una cifra Float '

In [8]:
# Identifique el número de valores únicos para cada columna y determine qué columnas parecen ser categóricas. 
#También debe describir los valores únicos de cada columna categórica y el rango de valores de las columnas numéricas, y brindar su opinión.
data.nunique()


#Los elementos que creo que pueden ser de tipo categóricas son: Policy Type, Vehicle Class,Education, GENDER, Vehicle Class.
#En relación a las quejas, si que podría a pasar a ser categórica si conseguimos información sobre el tipo de queja o al relacionarlas con otros parámetros.

Customer                     1071
ST                              8
GENDER                          5
Education                       6
Customer Lifetime Value      1027
Income                        774
Monthly Premium Auto          132
Number of Open Complaints       6
Policy Type                     3
Vehicle Class                   6
Total Claim Amount            761
dtype: int64

In [75]:
#Calcule estadísticas resumidas como la media, la mediana, la moda, la desviación estándar y los cuartiles para comprender la tendencia central y la distribución de los datos de las columnas numéricas. 
#También debe proporcionar sus conclusiones basadas en estas estadísticas resumidas.
print(data.describe())

moda_auto = data['Monthly Premium Auto'].mode()
moda_income = data['Income'].mode()
moda_tca = data['Total Claim Amount'].mode()
median_auto = data['Monthly Premium Auto'].median()
median_income = data['Income'].median()
median_tca = data['Total Claim Amount'].median()
print('Mediana de Monthly Premium Auto', median_auto)
print('mediana Total Claim Amount', median_income)
print('mediana Total Claim Amount',median_tca)
print('Moda de Monthly Premium Auto', moda_auto)
print('moda Total Claim Amount', moda_income)
print('moda Total Claim Amount',moda_tca )
#En la siguiente tabla encontramos en bruto toda la información correspondiente que se ha pedido.
#Aunque la información otrorgada es en bruto y habria que trabajarlo para que la misma sea util para su trabajo.

             Income  Monthly Premium Auto  Total Claim Amount
count   1071.000000           1071.000000         1071.000000
mean   39295.701214            193.234360          404.986909
std    30469.427060           1601.190369          293.027260
min        0.000000             61.000000            0.382107
25%    14072.000000             68.000000          202.157702
50%    36234.000000             83.000000          354.729129
75%    64631.000000            109.500000          532.800000
max    99960.000000          35354.000000         2893.239678
Mediana de Monthly Premium Auto 83.0
mediana Total Claim Amount 36234.0
mediana Total Claim Amount 354.729129
Moda de Monthly Premium Auto 0    65.0
Name: Monthly Premium Auto, dtype: float64
moda Total Claim Amount 0    0.0
Name: Income, dtype: float64
moda Total Claim Amount 0    321.6
Name: Total Claim Amount, dtype: float64

In [23]:
#Calcule estadísticas resumidas para columnas categóricas y proporcione sus conclusiones basadas en estas estadísticas.
#Policy Type
suma_policy=(data['Policy Type'].value_counts(normalize=True) * 100).reset_index().round()

print(suma_policy)
#Vehicle Class
suma_class=(data['Vehicle Class'].value_counts(normalize=True) * 100).reset_index().round()
print(suma_class)
#Education
suma_education=(data['Education'].value_counts(normalize=True) * 100).reset_index().round()
print(suma_education)
#GENDER
suma_gender=(data['GENDER'].value_counts(normalize=True) * 100).reset_index().round()
print(suma_gender)


#Conclusiones generales.En la primera estadística vemos que el mayor cliente de la compañia es el cosumidor privado que tiene coches convencionales.To
#Todo esto se refuerza con los resultados de los porcentajes del tipo de coche, donde los de lujo son una minoría.
#Otra información interesante sería comparar el tema de estudios con el género y además si podemos compararlo con el número de atestados sería perfecto para crear un perfil de la persona que pone una queja.

      Policy Type  proportion
0   Personal Auto        73.0
1  Corporate Auto        22.0
2    Special Auto         5.0
   Vehicle Class  proportion
0  Four-Door Car        54.0
1   Two-Door Car        19.0
2            SUV        19.0
3     Sports Car         5.0
4     Luxury SUV         2.0
5     Luxury Car         1.0
              Education  proportion
0              Bachelor        30.0
1               College        29.0
2  High School or Below        28.0
3                Master         9.0
4                Doctor         3.0
5             Bachelors         1.0
   GENDER  proportion
0       F        48.0
1       M        43.0
2    Male         4.0
3  female         3.0
4   Femal         2.0

<h1 style="color: #00BFFF;">Challenge 2: analyzing the data<span class="tocSkip"></span></h1>

In [43]:
#Ejercicio 1
#El equipo de marketing quiere conocer las cinco ubicaciones de clientes menos comunes. 
#Cree un objeto de la serie Pandas que contenga las ubicaciones de los clientes y sus frecuencias, y luego recupere las 5 ubicaciones menos comunes en orden ascendente.
data['ST'].value_counts().tail(5)

ST
Cali          120
Nevada         98
Washington     81
WA             30
AZ             25
Name: count, dtype: int64

In [53]:
#Ejercicio 2
#El equipo de ventas quiere saber el número total de pólizas vendidas para cada tipo de póliza. Cree un objeto pandas Series que contenga los tipos de póliza y su número total de pólizas vendidas, y luego recupere el tipo de póliza con la mayor cantidad de pólizas vendidas.

polizas_vendidas=data['Policy Type'].count()
suma_policy=(data['Policy Type'].value_counts(normalize=True) * 100).reset_index().round()
print(polizas_vendidas)
print(suma_policy)

1071
      Policy Type  proportion
0   Personal Auto        73.0
1  Corporate Auto        22.0
2    Special Auto         5.0

In [100]:
#Ejercicio 3
tabla_personal = data.loc[data['Policy Type'] == 'Personal Auto']
suma_income_persona=tabla_personal['Income'].median()
print('La media de ingresos con coche personal es:', suma_income_persona)
tabla_corporativa = data.loc[data['Policy Type'] == 'Corporate Auto']
media_corpo_income= tabla_corporativa['Income'].median()
print('La media de ingresos con coche corporativo es:', media_corpo_income)

La media de ingresos con coche personal es: 35211.5
La media de ingresos con coche corporativo es: 39155.5